		*{
			margin: 0;
			padding: 0;
		}
		.header{
			width: 1000px;
			height: 160px;
			background-color: white;
			border: 1px solid black;
			margin: 0 auto;
		}
		.banner{
			width: 1000px;
			height: 470px;
			background-image: url(../images/banner.jpg);
			margin: 0 auto;
			overflow: hidden;
		}
		.banner-inner{
			width: 1000px;
			height: 120px;
			margin-top: 155px;
		}
		.banner-inner .pre{
			float: left;
			margin-top: 44px;
			cursor: pointer;
		}
		.banner-inner .next{
			float: right;
			margin-top: 44px;
			cursor: pointer;
		}
		.container{
			width: 1000px;
			height: 540px;
			margin: 0 auto;
		}
		.container-top-1{
			width: 500px;
			height: 240px;
			background-color: white;
			float: left;
		}
		.container-top-1 h3{
			margin-top: 36px;
			margin-left: 22px;
			font-size: 17px;
		}
		.con-t-1{
			width: 450px;
			height: 108px;
			margin-left: 35px;
			margin-top: 30px;
		}
		.con-t-1 li{
			width: 450px;
			background-color: white;
		}
		.con-t-1 li a{
			font-size: 12px;
			color: #666;
			text-decoration: none;
		}
		.con-t-1 li span{
			font-size: 12px;
			color: #666;
			float:right;
		}

		.container-top-2{
			width: 240px;
			height: 240px;
			background-color: #f1f1f1;
			float: left;
		}
		.container-top-2 h3{
			margin-top: 36px;
			margin-left: 25px;
		}
		.container-top-2 h4{
			margin-top: 45px;
			margin-left: 25px;
			color:#5a5a5a;
		}
		.container-top-2 span{
			font-size: 12px;
			color: #969696;
			margin-top: 25px;
			margin-left: 25px;
			display: block;
		}
		.huapen{
			margin-left: 25px;
		}
		.container-top-3{
			width: 260px;
			height: 240px;
			background-color: white;
			float: left;
		}
		.container-top-3 h3{
			margin-left: 25px;
			margin-top: 36px;
		}
		.container-top-3 span{
			margin-top: 46px;
			margin-left: 25px;
			display: block;
			font-size: 12px;
			color: #5a5a5a;
		}
		.container-top{
			width: 1000px;
			height: 240px;
			background-color: grey;

		}
		.container-bottom{
			width: 1000px;
			height: 300px;
			background-color: white;
		}
		.container-bottom-1 h3{
			margin-top: 25px;
			margin-left: 25px;
		}

		.duanluo a{
			text-decoration: none;
			color: #535353;
			font-size: 11.68px;
		}
		.duanluo{
			margin-left: 20px;
		}
		.footer{
			width: 1000px;
			height: 330px;
			background-color: #666;
			margin: 0 auto;
		}
		.footer-top{
			width: 1000px;
			height: 250px;
			background-color: black;
		}
		.footer-top-1{
			width: 520px;
			height: 250px;
			background-color: #fff;
			float: left;
		}
		.footer-top-2{
			width: 200px;
			height: 250px;
			background-color: #eee;
			float: left;
		}
		.footer-top-3{
			width: 280px;
			height: 250px;
			background-color: #bbb;
			float: left;
		}
		.footer-bottom{
			width: 1000px;
			height: 80px;
			background-color: yellow;
		}
		.top{
			height: 100px;
			background-color:white;
		}
		.logo{
			width: 200px;
			height: 20px;
			background-color: grey;
			float: left;
			margin-left:20px;
			margin-top: 40px;
		}
		.search{
			width: 200px;
			height: 20px;
			background-color: #f1f1f1;
			border: 1px solid #e5e5e5;
			float: right;
			margin-right:20px;
			margin-top: 40px;
		}
		.search span{
			color: #8c8c8c;
			margin-left: 28px;
		}
		.sear{
			float: right;
		}
		.nav{
			height: 60px;
			background-color: black;
		}
		.dao{
			width: 123px;
			height: 60px;
			border: 1px solid grey;
			text-align: center;
			line-height: 60px;
			list-style: none;
			float: left;
		}
		.dao a{
			color:white;
			text-decoration: none;

		}